:root {
  font-size: 16px;
  --text-h1: 40px;
  --text-xl: 28px;
  --text-lg: 25px;
  --text-md: 1.6125rem;
  --text-sm: 18px;
  --header-height: 10.3125rem;
  --testimonial-height: 0px;
  @media screen and (min-width: 992px) {
    font-size: 15px;
    --text-h1: 4.09375rem;
    --text-lg: 2.41875rem;
    --text-xl: 3.5rem;
    --text-sm: 1.5rem;
  }
  @media screen and (min-width: 1600px) {
    font-size: 16px;
  }
}

$primary-color: #ff9257;
$secondary-color: #2f584e;
$light-blue: #f1f6fe;
$yellow: #f7be2c;
$text-grey: #838383;
$text-grey2: #2d3134;
$text-light-dark: #202020;

//breakpoints
.container {
  @media (min-width: 992px) {
    max-width: 85% !important;
  }
  @media (min-width: 1600px) {
    max-width: 962px !important;
  }
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.btn-primary {
  font-weight: 600;
  font-size: 18px;
  padding: 16px 43px;
  align-self: flex-start;
  background-color: $secondary-color;
  color: #ffffff;
  border: 0;
  border-radius: 50px;
  @media screen and (min-width: 992px) {
    padding: 1.5rem 4.5625rem;
    font-size: var(--text-md);
  }
}

//header
.header {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
  padding-block: 10px;

  @media screen and (max-width: 575px) {
    box-shadow: 0px 1px 10px #ebebeb;
  }

  @media screen and (min-width: 992px) {
    padding-block: 3.0625rem;
  }

  .brand-logo {
    .image {
      width: 50px;
      height: 50px;
      @media screen and (min-width: 992px) {
        width: 67px;
        height: 67px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      margin-left: 7px;
      padding-top: 10px;

      color: #1a1a1a;
      @media screen and (min-width: 992px) {
        margin-left: 13px;
        padding-top: 1rem;
        letter-spacing: -0.01rem;
        font-size: 1.75rem;
      }
    }
  }

  .main-nav {
    @media screen and (min-width: 992px) {
      margin-left: 5.9rem;
      //   gap: 4rem;
    }

    &-links {
      color: $text-grey;
      font-size: var(--text-sm);
      line-height: 1;
      padding: 10px;
      letter-spacing: 0.03rem;
    }
  }

  .mob-ham-button {
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    width: 2.1875rem;
    height: 2.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 0 8px 8px;
    margin-left: auto;
    align-self: center;
    border: 0;
    span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background: #000;
      transition: all 0.3scubic-bezier (0, 0, 0.58, 1);
      &:last-of-type {
        margin-top: 8px;
      }
    }
  }
}

.left-content {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 61.667%;
  }
}

//banenr{
.home-banner {
  padding-top: 30px;
  padding-bottom: 40px;
  @media screen and (min-width: 992px) {
    padding-top: 1.6875rem;
    padding-bottom: 4.625rem;
  }

  @media screen and (min-width: 1600px) {
    padding-bottom: 6.625rem;
  }

  .course {
    max-width: 640px;
    position: relative;
    &-ttl {
      font-size: var(--text-h1);
      font-weight: 700;
      line-height: 1.1;
      @media screen and (min-width: 992px) {
        line-height: 1.3;
      }
    }
    p {
      font-size: 15px;
      color: $text-grey2;
      @media screen and (min-width: 992px) {
        font-size: 1.075rem;
      }
    }
    &-icon {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      background-color: $primary-color;
      position: absolute;
      right: 0;
      top: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
    }
  }

  .course-status {
    padding-block: 40px;
    @media screen and (min-width: 992px) {
      padding-top: 4.5rem;
      padding-bottom: 3.4rem;
    }
    .count {
      font-size: var(--text-lg);
      line-height: 1;
      margin-bottom: 8px;
      display: block;
    }
    .count-disc {
      font-size: 18px;
      color: #202020;
      max-width: 125px;
      line-height: 1.3;
      @media screen and (min-width: 992px) {
        line-height: 1.4;
        font-size: 1.34375rem;
      }
    }
    .frame {
      width: 73.37px;
      height: 73.37px;
      left: 0;

      @media screen and (min-width: 992px) {
        width: 94.37px;
        height: 94.37px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:not(:first-child) {
        position: absolute;
      }
      &:nth-child(2) {
        left: 52%;
        z-index: 1;
      }
      &:nth-child(3) {
        left: 112%;
        z-index: 2;
      }
    }
    .frame-wrap {
      margin-left: 1px;
      @media screen and (min-width: 992px) {
        margin-left: 2.5rem;
      }
    }
  }
  .course-book {
    .play {
      border: 0;
      background-color: transparent;
      padding: 0;
      gap: 8px;

      @media screen and (min-width: 768px) {
        margin-left: 1.5625rem;
        gap: 1.25rem;
      }

      p {
        font-weight: 500;
        font-size: 18px;
        @media screen and (min-width: 992px) {
          font-size: var(--text-md);
        }
      }
      .image {
        width: 50px;
        height: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @media screen and (min-width: 992px) {
          width: 69px;
          height: 69px;
        }
      }
    }
  }
}

.footer {
  background-color: $primary-color;
  padding-block: 2.6875rem;
  margin-top: auto;

  .row {
    @media screen and (max-width: 575px) {
      --bs-gutter-x: 5px;
    }
  }

  .count-wrap {
    position: relative;
    padding-left: 14px;
    padding-block: 7px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      padding-left: 1.5625rem;
    }

    .count {
      font-size: var(--text-xl);
      color: #ffffff;
      line-height: 1;
      display: block;
      margin-bottom: 7px;

      @media screen and (min-width: 992px) {
        font-size: var(--text-xl);
        margin-bottom: 12px;
      }
    }
    p {
      font-size: var(--text-sm);
      color: #ffffff;
      line-height: 1;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 3px;
      background-color: $yellow;
      @media screen and (min-width: 768px) {
        width: 4px;
      }
    }
  }
}

.testimonial {
  width: 38.333%;
  background-color: $light-blue;
  overflow: hidden;
  position: sticky !important;
  top: 0;
  height: 100vh;

  .testimonial-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-wrapper-main {
    position: relative;
    z-index: 1;
  }

  .testimonialSwiper1 {
    height: var(--testimonial-height);
    padding: 3.75rem 1rem 3.75rem 3.375rem;
    width: 50%;
    .image {
      .ratio {
        --bs-aspect-ratio: 100%;
      }
    }
  }
  .testimonialSwiper2 {
    height: var(--testimonial-height);
    padding: 3.75rem 3.375rem 3.75rem 1rem;
    width: 50%;
    .image {
      .ratio {
        --bs-aspect-ratio: 100%;
      }
    }
  }

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }

  .swiper-slide {
    height: auto !important;
  }

  &::after {
    content: "";
    position: absolute;
    height: 180px;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
    transform: rotate(180deg);
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    height: 180px;
    width: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(hsla(0, 0%, 100%, 0), #fff);
    z-index: 2;
  }
}

.testimonial-mob {
  padding-bottom: 40px;

  .swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
  }
  .image {
    .ratio {
      --bs-aspect-ratio: 100%;
    }
  }
}
